@import url('https://fonts.googleapis.com/css?family=Jua&subset=korean');



body{
	margin:0px;
	//background-image:url("img1.jpg");
//background-color:lightgreen;
}
header{
	background-color:#999900;
	color:white;
	padding:8px 0px 6px 10px;
	height:45px;
}
header h1{
	font-family:'Jua',sans-serif;
	display:inline;
	
	font-weight:40%;
	font-size:40px;
	margin:0px;
	float:left;
}
nav ul {
	display:inline;
	padding:0px;
	float:left;
}
nav ul li{
	display:inline;
	list-style-type:none;
	float:left;
	margin-left:40px;
}
nav ul li a{
	color:white;
	text-decoration:none;
}
.homered{
	
	background-color:olive;
	padding:5px;
}
.divider{
	background-color:olive;
	height:5px;
}
.homeblack:hover{
	background-color:olive;
	padding:5px;
}







body
{
	margin: 0 auto;
	background-color:#999900;
	background-repeat:no-repeat;
	background-image:100%;
}


.container{
	width:500px;
	height:300px;
	text-align:center;
	margin: 0 auto;
	//background-image:url("Login_image.jpeg");
	background-color:ivory;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top: 200px;
	opacity:0.5;
	
}

.container img{
	width:160px;
	height:150px;
	margin:-135px;
	
}

input[type="email"], input[type="password"]{
	margin-top:30px;
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:40px;
}
.form_input::before{
	content:"\f007";
	font-family:"FontAwesome";
	padding-left:7px;
	padding-top:35px;
	position:absolute;
	font-size:35px;
	
}

	
.form_input:nth-child(2)::before{
	content:"\f023";
	font-family:"FontAwesome";
	padding-left:7px;
	padding-top:35px;
	position:absolute;
	font-size:35px;
}

.button_login{
	padding:15px 25px;
	border:none;
	background-color:green;
	color:white;
}
.button_login:hover{
		opacity:0.7;
		cursor:pointer;
		
}